extends layout

block content
  p CONTENT ON GRAPH.JADE
  //p #{testing}
  p #{tempdata}
  //for (var k in tempdata)
  //  each temperature, record in tempdata[k]
  //    li #{temperature}: #{record}
  //each temperature, record in tempdata
  //  li #{temperature}: #{record}
  //each val, key in tempdata
  //    li #{val}: #{key}
  //each record in tempdata
  //    li= record
  //for (var k in data)
  //  each val, key in data[k]
  //    p #{key}: #{val}
  //      if(key == 'value')
  //        each val2, key2 in val
  //          p #{key2}: #{val2}